
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.frampton-video {
  position: fixed;
  display: block;
  left: 16%; width: 68.5%; top: 0; height: 100%;
}

.background-image {
  display: block;
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -59.5%);
  transform: translate(-50%, -59.5%);

  width: 100%;
}

.loading-message {
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -59.5%);
  transform: translate(-50%, -59.5%);

  font-size: 36px;
  color: rgba(255, 237, 0, 0.95);
  text-shadow: 0 14px 28px rgba(255,255,255,0.5), 0 10px 10px rgba(255,255,255,0.4);

  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
}

.not-chrome-message {
  position: absolute;
  left: 50%; margin-left: -200px; width: 400px;
  top: 60px;
  padding: 12px;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  line-height: 1.4;
  box-shadow: 0 14px 28px rgba(255,255,255,0.25), 0 10px 10px rgba(255,255,255,0.22);
}
  .not-chrome-message a {
    color: rgba(0, 125, 255, 0.87);
    text-decoration: none;
  }
    .not-chrome-message a:hover, .not-chrome-message a:focus {
      text-decoration: underline;
    }
